*, :before, :after {
    box-sizing: border-box;
}

details {
    border-radius: 3px;
    background: #EEE;
    margin: 1em 0;
}

summary {
    background: #333;
    color: #FFF;
    border-radius: 3px;
    padding: 10px;
    outline: none;
}


details[open] summary {
    background: #69c773;
    color: #333;
}

.modules {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.modules__item {
    padding: 10px;
    width: 100%;
}